<div class="programs-content">

  <div class="banner">
    <h1>Tech Entrepreneur Brings Coding to Teens in South Central L.A.</h1>
  </div>
  <div class="summary">
    <div class="columns main-content">
      <div class="column text-left">
        <p style="margin-bottom: 50px">Recently we were featured in an article on the California Health Report, an independent, non-profit journalism project
          covering health and health policy throughout the state.</p>
        <p class="left"> <i class="fa fa-quote-left fa-2x quote-marks"></i></p>
        <p class="quote">Tony and Marcus, both 14, are swiping their phone screens frantically on a recent Saturday outside the Salvatori
          Computer Science Center at the University of Southern California. Found them! They both scroll to the websites
          they developed this summer and hold up their phones, displaying the final products of their programming and project
          management skills. “We built these from scratch,” said Tony, who lives in the San Fernando Valley. Tony and Marcus,
          who lives in Compton, were at USC for the South Central LA Demo Day—Twitter hashtag hustleNcode—in early August.
          At the competitive event, young men of color pitched their tech inventions after having taken part in a coding
          academy over the summer. At Demo Day, Tony and Marcus, whose names have been changed because their parents were
          not on hand to grant permission to be interviewed, watched as the older students from their academy presented a
          variety of creations geared toward their communities. Teens presented cell phone apps to help lower-income families
          find free events they could attend together. There was a program that would reserve and pay for washing machines
          and dryers in advance so people could avoid spending hours waiting at laundromats. Another app will alert young
          people to wake up when they fall asleep on long bus rides so they don’t miss their stops. Demo Day and the coding
          academy were offered by TXT: Teens Exploring Technology, the brainchild of social entrepreneur Oscar Menjivar,
          who describes coding and entrepreneurship not just as paths to individual prosperity but to community wellbeing
          as well.</p>
        <p class="right"> <i class="fa fa-quote-right fa-2x quote-marks"></i></p>
      </div>
  </div>
  <div>
    <p style="font-weight:800">Originally Published By: </p>
    <p>Tech Entrepreneur Brings Coding to Teens in South Central L.A. on Tuesday August 22, 2017</p>
    <p><a href="https://www.calhealthreport.org/2017/08/22/tech-entrepreneur-brings-coding-teens-south-central-l/">https://www.calhealthreport.org/2017/08/22/tech-entrepreneur-brings-coding-teens...</a></p>
  </div>

  </div>
</div>
