<div class="programs-content">

  <div class="banner">
    <h1>Cultivating the “Steve Jobs” of South Central</h1>
  </div>
  <div class="summary">
    <div class="columns main-content">
      <div class="column text-left">
        <p>Although the Summer Coding Leadership Academy is over, the TXT'ers dedication to their community is not. We will
          continue incubating Tech start-ups at our HackerSpace - The Cube. Some include Connect Sage and The Duck. The following
          teens have agreed to advance their startup ideas this year while balancing their priorities at school. They are
          determined to take over the world starting with Los Angeles.</p>
      </div>
      <div class="column img">
        <img src="assets/article/article-1/startups-2.png" alt="">
      </div>
    </div>

    <div class="columns main-content">
      <div class="column img">
        <img src="assets/article/article-1/startups-3.png" alt="">
      </div>
      <div class="column text-right">
        <p>Beginning with The Duck, it is an artificial duck that keeps track of who enters or exits a building/facility. It
          was created to organize a way to log who comes in and out of their office space. Some of its key features include
          voice recognition for when a person enters or exits the premises. After identifying yourself, the Duck automatically
          enters the detailed log into a database at any given time. Team Zealio will continue making this one a reality.</p>
      </div>
    </div>

    <div class="columns main-content">
      <div class="column text-left">
        <p>Another startup is Connect Sage. Team Corvids identified in their community that low-income young adults in Los Angeles
          lack the networking resources to enter careers that they are passionate about. Therefore, Connect Sage is designed
          to provide a medium for the young adults to find and establish connections with career mentors. Some of its key
          features include exploring different career paths, browsing a diverse professional network, establishing mentoring
          relationships and managing their connections.</p>
      </div>
      <div class="column img">
        <img src="assets/article/article-1/startups-4.png" alt="">
      </div>
    </div>
    <div class="columns main-content">
        <div class="column text-left">
          <p>Many TXTers will continue working on their startups. They have made a commitment to stay focused with these startups and will leave other activities aside to improve their communities. With great determination, they will find success in their endeavors.  </p>
        </div>
      </div>
  </div>
</div>
