<div class="programs-content">

  <div class="banner">
    <h1>Providing Opportunities for South Central Youth</h1>
  </div>
  <div class="summary">
    <div class="columns main-content">
      <div class="column text-left">
        <p>TXT Labs is a consulting firm specializing in software development & IT services, focused on providing end-to-end
          solutions, including ideation, development, and marketing. Founded in 2016, it provides clients a wide range of
          industry-leading products and services, utilizing our extensive expertise in the tech and educational sectors.</p>
      </div>
      <div class="column img">
        <img src="assets/article/article-3/labs-1.png" alt="">
      </div>
    </div>

    <div class="columns main-content">
      <div class="column img">
        <img src="assets/article/article-3/labs-2.png" alt="">
      </div>
      <div class="column text-right">
        <p>TXT Labs improves the lives of traditionally underrepresented youth in L.A. by providing them with instruction and
          experience in design, software development, and entrepreneurship, while creating job opportunities. By working
          with us, you are providing 21st century youth and workforce development opportunities and experience to at-risk
          youth in our most challenging communities. All profits go back into the community and fund Teens Exploring Technology’s
          Coding Leadership Academies. </p>
        <p>The organization provides outstanding service to business for web and mobile app development, IT consulting services,
          and Educational STEM (Science, Technology, Engineering, and Math) consulting. The team is committed to improving
          your business’s efficiency and profitability through innovative technology.</p>
      </div>
    </div>
    <div class="notifcation">
        <div class="notification is-info">
          <p>
              If interested in innovating your business efficiency while helping the lives of South Central youth, please contact us through this link: <a href="http://txtlabs.io/contact-us.html">http://txtlabs.io/contact-us.html</a>
              
          </p>
          <br>
          <p>Be sure to visit <a href="http://txtlabs.io">TXT Labs</a> for more information.</p>
        </div>
      </div>
  </div>

</div>
